body {
	font-family: "Jersey 10";
	color: white;
}

#track {
	display: flex;
	align-items: center;
	gap: 12px;
	opacity: 0;
	transform: translateY(8px);
	transition: opacity 0.3s ease, transform 0.3s ease;
	padding: 1rem;
}

#track.visible {
	opacity: 1;
	transform: translateY(0);
}

img {
	width: 6rem;
	height: 6rem;
	border-radius: 6px;
	display: none;
}

#title {
	font-size: 3.5rem;
}

#artist {
	color: gray;
	font-size: 2.25rem;
}

#title-artist {
	background-color: rgba(0, 0, 0, 0.75); /* Black with 50% opacity */
}

#title,
#artist,
#title-artist {
	white-space: nowrap;
	/* Prevents text from wrapping to a new line */
	overflow: hidden;
	/* Hides any text that overflows the container */
	text-overflow: ellipsis;
	/* Displays an ellipsis (...) for clipped text */
}
